<div class="col-md-2 mt-3 mb-3">
  <div class="list-movie">
    <%= image_tag("anh1.jpg", class:"image") %>
    <div class="overlay">
      <%= link_to movie.name, "#" %>
      <p><%= movie.view_count %><%= t ".view" %></p>
    </div>
  </div>
</div>
