.btn-default-btn{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: 10px;
}

.input-group{
	position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 10px;
}