<p><%= t ".hello", email: @email %>!</p>

<% if @resource.try :unconfirmed_email? %>
  <p><%= t ".email_changed", email: @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t ".email_changed", email: @resource.email %>.</p>
<% end %>
