<p>
  <%= t ".hello", email: @resource.email %>!
</p>

<p> 
  <%= t ".link_below" %>
</p>

<p>
  <%= link_to t(".change_password"),
  edit_password_url(@resource, reset_password_token: @token) %>
</p>

<%= t ".ignore_html" %>
